## 豆瓣250数据分析

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
mp.rcParams['font.sans-serif'] = ['SimHei']
mp.rcParams['font.serif'] = ['SimHei']
mp.rcParams['axes.unicode_minus']=False

### 目标对爬取的top250的豆瓣数据进行分析

In [3]:
df_data = pd.read_csv('douban250.csv')
df_data.describe()

        movie_num  movie_score
count  250.000000   250.000000
mean   125.500000     8.867200
std     72.312977     0.271623
min      1.000000     8.300000
25%     63.250000     8.700000
50%    125.500000     8.800000
75%    187.750000     9.000000
max    250.000000     9.700000

In [6]:
df_data.describe(include=['O'])

,movie_name,movie_director,movie_star,movie_year,movie_country,movie_type,movie_intro,movie_url
count,250,250,237,250,250,250,245,250
unique,250,186,225,55,65,128,245,250
top,教父2 /The Godfather: Part Ⅱ /教父续集 / 教父II,宫崎骏 Hayao Miyazaki,伊桑·霍克 Ethan Hawke,2004,美国,剧情,暗恋的极致。,https://movie.douban.com/subject/1293544/
freq,1,7,3,14,80,20,1,1

### 单特性分析

### 两个变量分析